.cases__top {
    display: flex;
    gap: 116px;
}

.cases__title {
    font-size: 60px;
    max-width: 360px;
    margin-bottom: 116px;
    letter-spacing: -1.8px;
    color: #181717;
    line-height: 0.98;
}

.cases__text {
    font-size: 32px;
    max-width: 580px;
    margin-top: 64px;
    color: var(--main-gray);
    letter-spacing: -1.8px;
}

.cases__list {
    display: flex;
    flex-direction: column;
    gap: 114px;
}

.cases__arrow {
    margin-bottom: 114px;
}


.cases__item {
    display: flex;
    gap: 125px;
    border-bottom: 2px solid;
    padding-bottom: 106px;
}

.cases__item:last-child .cases__link {
    color: var(--main-gray);
}

.cases__item:last-child .cases__link:hover {
    background-color: transparent;
    border-color: var(--main-gray);
    color: var(--secondary);
    ;
}

.cases__content {
    display: flex;
    flex-direction: column;
}

.cases__name {
    font-family: var(--inter);
    font-size: 18px;
    font-weight: 500;
    max-width: 326px;
    color: #181717;
    margin-bottom: 25px;
}

.cases__components {
    max-width: 356px;
}

.cases__info {
    max-width: 356px;
    font-size: 18px;
    color: #181717;
    font-weight: 400;
    margin-bottom: 40px;
    letter-spacing: -0.72px;
    line-height: 24px;
}

.cases__subtext {
    color: var(--main-gray);
    max-width: 315px;
    margin-bottom: 40px;
    letter-spacing: -0.51px;
    line-height: 17px;
}

.content__link {
    color: #181717;
    font-size: 32px;
    font-weight: 500;
    max-width: max-content;
    transition: .4s, border .4s;
}

.content__link:hover {
    background-color: transparent;
    border-color: var(--main-gray);
    color: var(--secondary);
    ;
}

.cases__photo {
    height: auto;
    object-fit: cover;
}

.cases__link {
    font-size: 18px;
    text-decoration: underline;
    margin-top: auto;
    max-width: max-content;
    color: var(--main-black);
    transition: .4s, border .4s;
}

.cases__link:hover {
    background-color: transparent;
    border-color: var(--main-gray);
    color: var(--secondary);
    ;
}

.cases {
    margin-bottom: 130px;
}

.cases__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;


}

.cases__btn {
    border-radius: 50%;
    background-color: rgb(212, 69, 69);
    width: 80px;
    height: 80px;

}

.cases__btn:hover {
    background-color: transparent;
    border: 2px solid;
}
@media (max-width: 1200px) {
    .cases__title {
        font-size: 55px;
    }

    .cases__text {
        font-size: 28px;
    }

    .cases__arrow {
        margin-bottom: 100px;
    }
}

@media (max-width: 1000px) {
    .cases__title {
        font-size: 50px;
        margin-bottom: 100px;
    }

    .cases__text {
        font-size: 24px;
    }

    .cases__arrow {
        margin-bottom: 85px;
    }

    .cases__photo {
        width: 480px;
    }

    .cases__item {
        gap: 100px;
        padding-bottom: 80px;
    }

    .cases {
        margin-bottom: 100px;
    }
}

@media (max-width: 900px) {
    .cases__title {
        font-size: 45px;
    }

    .cases__text {
        font-size: 23px;
    }
}

@media (max-width: 860px) {

    .cases__top {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
        max-width: 100%;

    }

    .cases__title {
        text-align: center;
        margin-bottom: 0;
    }

    .cases__text {
        margin-top: 0;
        margin-bottom: 40px;
    }

    .cases__arrow {
        margin: 0 auto 50px;
        width: 28px;
    }

    .cases__item {
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;
        text-align: center;
        padding-bottom: 80px;
    }

    .cases__link {
        margin: 0 auto;
    }

    .cases__photo {
        width: 550px;
    }

    .cases__list {
        gap: 80px;
    }

}

@media (max-width: 400px) {
    .cases__title {
        font-size: 40px;
        line-height: 1.1;
        max-width: 300px;
    }

    .cases__text {
        font-size: 20px;
    }

    .cases__arrow {
        width: 22px;
    }

    .cases__info {
        font-size: 16px;
        margin-bottom: 28px;
    }

    .cases__list {
        gap: 60px;
    }

    .cases__item {
        padding-bottom: 60px;
        gap: 30px;
    }

    .cases {
        margin-bottom: 60px;
    }

    .cases__btn {
        border-radius: 50%;
        background-color: rgb(212, 69, 69);
        width: 60px;
        height: 60px;
    font-size: 13px;
    }
}