.conect__content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 118px;
}



.linia {
    margin-bottom: 71px;
    height: 3px;

}

.conect__subtext {
    font-size: 31px;
    max-width: 350px;
}

.conect__icons {
    display: inline-block;
    transform: translate(4px);
}

.connect__info {
    width: 100%;
    max-width: 440px;
    max-width: max-content;
}

.conect__link {
    display: flex;
    font-size: 32px;
    color: #181717;
    max-width: 355px;
    margin-bottom: 27px;
    max-width: 100%;
    letter-spacing: -0.96px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: .4s, border .4s;
}

.conect__link:hover {
    color: var(--secondary);
}

.conect__link:focus {
    border-color: var(--secondary);
    color: var(--secondary);
}

.conect__text {
    font-size: 18px;
}

@media (max-width: 680px) {
    .conect__content {
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
    }

    .conect__subtext {
        font-size: 25px;
        text-align: center;
    }

    .conect__link {
        font-size: 25px;
        margin: 0 auto 27px;
    }

    .conect__text {
        text-align: center;
    }

    .conect__icons {
        transform: rotate(90deg);

    }
}

@media (max-width: 1200px){
    .conect__content{
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {

    .conect__content {
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
    }

    .conect__subtext {
        font-size: 25px;
        text-align: center;
    }

    .conect__text {
        text-align: center;
    }

    .conect__link {
        font-size: 25px;
        margin: 0 auto 27px;
    }

    .conect__icons {
        transform: rotate(90deg);

    }
}

@media (max-width: 360px) {
    .conect__subtext {
        font-size: 18px;
        text-align: center;
    }

    .content__info {}

    .conect__link {
        font-size: 20px;
        text-align: center; 
    }

    .conect__text {
        font-size: 16px;
    }

    .conect__content {
        margin-bottom: 60px;
    }
    
    .linia{
        margin-bottom: 30px;
    }
}