.home__inner {
    display: flex;
    gap: 124px;
    margin-bottom: 136px;
}

.home__content {}

.home__title {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 32px;
    line-height: 0.97;
}

.home__text {
    display: grid;
    max-width: 575px;
    font-size: 32px;
    gap: 30px;
    color: #606060;
}

.photo {}