.footer__inner {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.footers__text {
    color: #2429AF;
    font-size: 21px;
    font-weight: 500;
}

.footer__socials {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.footer__link {
    font-size: 21px;
    transition: .4s, border .4s;
    border: 2px solid transparent;
    border-radius: 5px;
}

.footer__link:hover {
    color: var(--secondary);
}

.footer__link:focus {
    color: var(--secondary);
    border-color: var(--secondary);
}

@media (max-width: 768px) {
    .footer__link {
        font-size: 19px;
    }

    .footers__text {
        font-size: 19px;
    }
}

@media (max-width: 680px) {
    .footer__inner {
        flex-direction: column;
        gap: 20px;
    }

    .footer__socials {
        display: flex;
        justify-content: center;

    }

    .footers__text {
        text-align: center;
    }

}