.header {
    padding: 19px 0;
    margin-bottom: 120px;
}

.header__inner {
    display: flex;
    align-items: center;
    right: 64px;
    left: 20px;
    justify-content: space-between;
    gap: 26px;
    position: relative;
    z-index: 50;
}

.header__nav {
    display: flex;
    gap: 31px;
    text-align: center;
}

.header__list {
    display: flex;
    gap: 31px;
    text-align: center;
    list-style-type: none;
}

.header__link {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 223px;
    transition: .4s, border .4s;
    border: 2px solid transparent;
    border-radius: 5px;
}

.header__link:hover {
    color: var(--secondary);
}

.header__link:focus {
    border-color: var(--secondary);
    color: var(--secondary);

}

.menu {
    display: none;
}

.menu__btn{
    display: none;
    
}

@media (max-width: 1200px) {
    .header {
        margin-bottom: 100px;
    }

    .header__list {
        gap: 28px;
    }

    .header__link {
        font-size: 19px;
    }
}

@media (max-width: 1000px) {
    .header {
        margin-bottom: 90px;
    }

    .header__list {
        gap: 24px;
    }
}

@media (max-width: 1100px) {
    .header {
        margin-bottom: 80px;
    }
}

@media (max-width: 860px) {
    .header {
        margin-bottom: 75px;
    }
}

@media (max-width: 768px) {
    .header__link {
        font-size: 18px;
    }
}

@media (max-width: 530px) {
    .header__nav {
        display: none;
    }

    .header__inner {
        right: 0;
        left: 0;
    }
}

@media (max-width: 400px) {
    .header {
        margin-bottom: 50px;
    }
}

@media (max-width: 530px) {



    .menu {
        width: 100%;
        height: 100%;
        top: 0;
        position: fixed;
        z-index: 10;
        background-color: rgb(218, 220, 221);
        display: block;
        pointer-events: none;
        user-select: none;
        transform: translateX(100%);
        overflow: hidden;
        transition: transform .6s;
        padding-top: 120px;
    }

    .menu--open {
        transform: translateX(0);
        user-select: auto;
        pointer-events: auto;
    }

    .menu__list {
        font-size: 18px;
        display: flex;
        list-style-type: none;
        color: rgb(92, 6, 6);
        text-decoration: none;
    }

    .menu__title {
        text-align: center;
        margin-bottom: 35px;
    }

    .menu__content {
        font-size: 20px;
        list-style-type: none;
        color: brown;
        display: flex;
        gap: 40px;
        flex-direction: column;
        align-items: center;
    }

    .menu__btn {
        display: block;
        background-color: #fff;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .menu__btn span,
    .menu__btn span::before,
    .menu__btn span::after {
        position: absolute;
        height: 3px;
        margin-top: -2px;
        width: 22px;
        left: 0;
        top: 50%;
        transform: translateX(55%);
        background-color: #222;
    }

    .menu__btn span::before,
    .menu__btn span::after {
        content: '';
        transition: transform .3s;
    }

    .menu__btn span::before {
        transform: translateY(-10px);
    }

    .menu__btn span::after {
        transform: translateY(10px);
    }

    .menu__btn_active span::before {
        transform: rotate(45deg);
    }

    .menu__btn_active span::after {
        transform: rotate(-45deg);
    }

    .menu__btn_active span {
        height: 0;
    }
}