.header {
    padding: 19px 0;
    margin-bottom: 120px;
}

.header__inner {
    display: flex;
    align-items: center;
    right: 64px;
    left: 20px;
    justify-content: space-between;
    gap: 26px;
}

.header__nav {
    display: flex;
    gap: 31px;
    text-align: center;
}

.header__list {
    display: flex;
    gap: 31px;
    text-align: center;
    list-style-type: none;
}

.header__link {
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 223px;
    transition: .4s, border .4s;
}

.header__link:hover {
    background-color: transparent;
    border-color: var(--main-gray);
    color: var(--secondary);
}