.header {
    padding: 19px 0;
    margin-bottom: 120px;
}

.header__inner {
    display: flex;
    align-items: center;
    right: 64px;
    left: 20px;
    justify-content: space-between;
    gap: 26px;
}

.header__nav {
    display: flex;
    gap: 31px;
    text-align: center;
}

.header__list {
    display: flex;
    gap: 31px;
    text-align: center;
    list-style-type: none;
}

.header__link {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 223px;
    transition: .4s, border .4s;
    border: 2px solid transparent;
    border-radius: 5px;
}

.header__link:hover {
    color: var(--secondary);
}

.header__link:focus {
    border-color: var(--secondary);
    color: var(--secondary);

}

@media (max-width: 1200px) {
    .header {
        margin-bottom: 100px;
    }

    .header__list {
        gap: 28px;
    }

    .header__link {
        font-size: 19px;
    }
}

@media (max-width: 1000px) {
    .header {
        margin-bottom: 90px;
    }

    .header__list   {
        gap: 24px;
    }
}

@media (max-width: 1100px) {
    .header {
        margin-bottom: 80px;
    }
}

@media (max-width: 860px) {
    .header {
        margin-bottom: 75px;
    }
}

@media (max-width: 768px) {
    .header__link {
        font-size: 18px;
    }
}

@media (max-width: 530px){
    .header__nav{
        display: none;
    }
    
    .header__inner{
        right: 0;
        left: 0;
    }
}

@media (max-width: 400px){
    .header{
        margin-bottom: 50px;
    }
}

@media (max-width: 530px){


    
    .menu {
        width: 100%;
        height: 100%;
        top: 0;
        position: fixed;
        background-color: gray;
        display: block;
        pointer-events: none;
        user-select: none;
        transform: translateX(100%);
        overflow: hidden;
        transition: transform .6s;
        border-color: rgb(235, 101, 101);
        padding-top: 40px;
    }
    
    .menu--open {
        transform: translateX(0);
        user-select: auto;
        pointer-events: auto;
    }
    
    .menu__list {
        font-size: 18px;
        display: flex;
        list-style-type: none;
        color: brown;
        text-decoration: none;
    }
    
    .menu__title {
        text-align: center;
    }
    
    .menu__content {
        font-size: 20px;
        list-style-type: none;
        color: brown;
        display: flex;
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }

    .menu__btn{
        border: 2px solid;
        width: 55px;
        height: 55px;
        background-image: url();
 
    }
}